@import './mixins.scss';


body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.banner{
    width: 100%;
    height: 770px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @include flexMix;

    &__info{
        @include flexMix($direction:column);
        
        
        
        &-title{
            @include fontStyle(48px,white);
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 33px;
            &_small{
                @include fontStyle(20px,white,'Roboto Slab');
                text-transform: capitalize; 
                margin-bottom: 53px;
            }
        }
    }

    


}
.header{
    @include flexMix(space-between)
    padding-top:40px;
    width: 1140px;
    margin: 0 auto;
    position: absolute;
    top 0;





    &__logo {
        @include fontStyle(24px,white,);
        font-weight: 700;
    }

    &__links{
        &-item{
            text-decoration: none;
            @include fontStyle(14px, white);
            margin-right: 35px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                text-decoration: none;
                color: white;
            }
        }       
    }

    @media screen and (max-width:1140px) {
        width: 100%;
        padding: 0 15px;
        padding-top: 20px;       
    }
}

.button{
    border:2px,solid,white;
    border-radius: 2px;
    outline: none;
    text-transform:uppercase ;
    background-color: transparent;
    @include fontStyle($color: white);
    font-size: 400px;
    padding: 18px, 45px;
    box-sizing: border-box;


}

.services{
    padding: 100px 0;
    box-sizing: border-box;
    .card{
        border: none;
        margin-top: 70px;
        @include flexMix($direction: column);
        img{
            width: 85px;
            height: 85px;
            margin-bottom: 30px;

        }

        &__title{
            @include fontStyle(14px,#555555);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 25px;

        }

        &__text{
            @include fontStyle(14px,#555555, 'Roboto Slab');
            font-weight: 400;
            text-align: center;
        }
    }
}

.title{
    @include fontStyle(20px, #555555);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 62px;
    position: relative;
    text-align: center;


    &::after{
        content: '';
        position: absolute;
        left: calc(50% - 25px);
        bottom: -32px;
        height: 2px;
        width: 50px;
        background:#555555;
    }
}
.subtitle{
    @include fontStyle($color:#555555, $family: 'Roboto Slab');
    font-weight: 400;
    text-align: center;
}