body {
  margin: 0; }

.banner {
  width: 100%;
  height: 770px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
